/.idea
/.vs
/3rdparty
/bin
/cmake
/cmake-build-debug
/debug
/models
/SOIL
/raytrace/Release
/raytrace/Debug
/raytrace/Cornell
/raytrace/Utah_teapot
/raytrace/Sphere_cornell_box
CMakeLists.txt
configuration.h
configuration.h.in
render.sln